---
import Nav from "../components/Nav";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  hasNav?: boolean;
}

import config from "../data/config.json";

const { title, hasNav = true } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class={`${Astro.url.pathname.includes("artworks") ? "overscroll-none" : ""} scroll-smooth`}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={config.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Adria Morgan</title>
  </head>
  <body class="flex flex-col">
    {hasNav && <Nav client:only="react" />}
    <div class="mt-24">
      <slot />
    </div>
    {hasNav && <Footer />}
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
